numpy
pandas
pandas_datareader
datetime
ta
tk
matplotlib
seaborn
plotly
plotly.express
streamlit
streamlit-authenticator
tweepy
praw
prophet
scikit-learn
yfinance
yahoofinancials
nsepy
mftool
PyportfolioOpt
selectolax
streamlit_pdf_viewer
bsedata
requests